body {
    background-image: url('fondo.png');
    background-size: cover;
    background: position 100%;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: steelblue;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 4px solid #336699;
    padding:5px;
    background-color: #f0f0f0;
    display: inline-block;
}
h2{font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
text-align: left;
}
.contenedor2 {
            justify-content: center;
            align-items: center;
            height: 100%;
            border: 2px solid lightskyblue;
            margin-top: 20px;
            background-color: rgba(132, 171, 202, 0.4);
            color : black
}
.enlace{
    text-align: left;
    font-size: 30px;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}
#Seleccion1:target{
    background-color: lightcyan;
    border: 4px solid black;
}
#Seleccion2:target{
    background-color: lightgreen;
    border: 4px solid black;
}
#Seleccion3:target{
    background-color: lightblue;
    border: 4px solid black;
}
#Seleccion4:target{
    background-color: lightgray;
    border: 4px solid black;
}
#Seleccion5:target{
    background-color: lightpink;
    border: 4px solid black;
}
#Seleccion6:target{
    background-color: lightcoral;
    border: 4px solid black;
}
#Seleccion7:target{
    background-color: lightseagreen;
    border: 4px solid black;
}
#Seleccion8:target{
    background-color: lightyellow;
    border: 4px solid black;
}
#tamaño{
    display: block;
    margin: auto;
    align-content: center;
    width: 10%;
    height: auto;
    text-align: center;
}